@import "tailwindcss";

@plugin '../../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "SegoeUiBlack";
  src: url("/fonts/segoe.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ArialRoundedmtBold";
  src: url("/fonts/arialroundedmtbold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.bg-blue {
  background-color: #0356ba;
}

.bg-orange {
  background-color: #ff610a;
}
.text-gray {
  color: #565656;
}

body {
  overflow-x: hidden;
  letter-spacing: 0.5px;
}

.box-shadowMenu {
  box-shadow: 0 0 10000px 10000px rgba(16, 29, 76, 0.456);
}
